html,
body {
	padding: 0;
	margin: 0;
	width: 100%;
	height:100%;
}

body {
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
	-webkit-app-region:drag;
	height: 100%;
	overflow: hidden;
}

#app {
	-webkit-app-region:no-drag;
	height: 100%;
}

header {
	position: absolute;
	width: 500px;
	height: 250px;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -250px;
	text-align: center;
}

header h1 {
	font-size: 60px;
	font-weight: 100;
	margin: 0;
	padding: 0;
}

.link{
	/*text-decoration:underline;
	cursor: pointer;*/
}

.container{
	display: flex;
	flex-wrap:wrap;
	height: 100%;
	background-color: #232323;
	color: #b2b2b2;
	font-family: "Helvetica Neue";
	font-weight: lighter;
	overflow: hidden;
}
h3{
	font-weight: lighter;
	font-size: 30px;
	margin: 0 0 10px 0;
}
h4{
	margin: 0 0 10px 0;
}

.fileManager{
	width: 60%;
	/*height: 70%;*/
	/*padding: 20px auto;*/
height: 80%;
padding-top: 5px;
-webkit-app-region:drag;
}
.fileManagerContent{
	padding: 10px;
	height: 84%;
	-webkit-app-region:no-drag;
}
.fileManagerContent > h3{
		-webkit-app-region:drag;
}
.fileManagerContent > h4{
	cursor: pointer;
}

.dropzoneContainer{
	width: 40%;
	height: 79%;
	margin-top: 20px;
	/*padding: 20px auto;*/
	overflow: hidden;
-webkit-app-region:drag;
}
.dropzone{
	margin-top:50px;
	height: 100%;
	width: 100%;
	display: flex;

	justify-content: center;

}
.settings{
	float: right;
	margin-right: 10px;
	margin-top: 0px;
	cursor: pointer;
}
.settings>img:hover{
	animation: rotateGear 6s linear infinite;
}


@keyframes rotateGear {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.snackbar{
	width: 100%;

	height: 16%;
	/*-webkit-app-region:no-drag;*/
	overflow: hidden;
	padding-left: 10px;
	z-index: 1000;
}

.snackbar_background{
	position: absolute;
	width: 100%;
	height: 13%;
	background: url('../assets/images/akamai-logo.png') no-repeat center center;
	background-size: contain;
	opacity: 0.4;
z-index: -1000;
}
.snackbar_content{
	padding-left: 10px;
/*height: 100px;*/
height: 80%;
	overflow: auto;
	z-index: 2000;
/*-webkit-app-region:no-drag;*/


}

.list{
	display:flex;
	flex-direction: column;
	text-decoration: none;
	/*height: 350px;*/
	/*overflow-y: scroll;*/
	height: 100%;
	overflow: auto;

	overflow: hidden;
	overflow-y: auto;

}
.listitem{

	padding: 5px 0 25px 5px;
	margin: 0px 0 10px 0;
	background-color: blue;

	text-decoration: none;
	width: 100%;
	color:white;
	font-weight: 300;
	/*display: flex;*/
	/*flex-direction: row;*/

	/*height: 100%;*/
}
.itemHandler{
	/*border: solid 1px green;*/
	width: 80%;
	/*height: 90%;*/
	padding: 5px 0px 30px 15px;
	cursor: pointer;
	display: inline-block;

}
.listitem>img{
	float: right;
	margin-right: 10px;
	margin-top: 5px;
	height: 100%;
}
.actionable{
	cursor: pointer;
}
.directory{
		background-color: #199ad6;
}

.file{
		background-color: #f28b20;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.listitem>img{
	height: 15px;
}

.createFolder{
	text-align: center;
	margin-top: 10px;
}
.createFolderBtn{
	background-color: #f28b20;
	padding: 10px 5px;
	color:white;
	border-radius: 5px;
	cursor: pointer;
}
.folderForm{
	margin: 0 auto;
	text-align: center;
}
.folderForm > input {
	width: 90%;
	margin: 0 auto;
	height: 30px;
	font-size: 16px;
	font-family: monospace;
}
.saveBtn{

	font-size: 16px;
	padding: 5px;
	background-color: #199ad6;
	border-radius: 5px;
	cursor: pointer;
	width: 90%;
	margin: 15px auto;
}


.inputFolder{
	width:0.1px;
	left: -500px;
	position: absolute;
}
.inputFolderLabel, .inputFolderLabel > label{
	cursor: pointer;
	background-color: grey;
	padding: 5px;
	margin-top: 10px;
	margin-left: -5px;
	width: 30%;
	border-radius: 5px;
	text-align: center;
}
.netstorageSettings{
	width: 100%;
	text-align: center;
}
.netstorageSettings >input{
	width: 90%;
	text-align: center;
	margin: 0 auto;
	height: 20px;
	font-size: 16px;
	font-family: monospace;
}
.netstorageSettings > .saveBtn{
	background-color: #199ad6;
	color: white;
	margin: 10px auto;
	width: 70%;
	text-align: center;
	font-size: 16px;
}

.hide{
	visibility: hidden;
}
.border-top{
	border-top: solid 1px #8e8e8e;
}


/***************************/
/*	 Dropzone Animation 	 */
/***************************/




container{
  background-color: #fff;
  text-align: center;

}

.spinner{
  width: 140px;
  height: 140px;
  /*background: #e8e8e8;*/
  border-radius: 50%;
  position: relative;
  margin: 40px;
  display: inline-block;
cursor: pointer;
}
.spinner:after,.spinner:before{
	content: "";
	display: block;
	width: 140px;
	height: 140px;
	border-radius: 50%;
}

.spinner__1::after{
    position: absolute;
    border: 4px solid transparent;
    border-top-color: #f28b20;
    border-bottom-color: #f28b20;
    top: -4px;
    left: -4px;
    animation: spin 10s linear infinite;
		transition: border 2s ease;
  }
.spinner__1::before {
    position: absolute;
    top: 34px;
    left: 34px;
    height: 70px;
    width: 70px;
    background-color: #199ad6;
    animation: shrink 6s ease infinite;
}

.spinner__2::after{
    position: absolute;
    border: 4px solid transparent;
    border-color: #f28b20;
    border-color: #f28b20;
    top: -4px;
    left: -4px;
    animation: dropIt 1s linear infinite forwards;
		transition: border 0.5s ease;
		animation-delay: 0.5s;
  }
.spinner__2::before {
    position: absolute;
    top: 34px;
    left: 34px;
    height: 70px;
    width: 70px;
    background-color: #199ad6;
		animation: shrinkAndStay 1s ease 1 forwards;
}


.spinner__3::after{
    position: absolute;
    border: 4px solid transparent;
    border-color: #f28b20;
    border-color: #f28b20;
    top: -4px;
    left: -4px;
    animation: dropIt 5s linear infinite;
		transition: border 2s ease;
  }
.spinner__3::before {
    position: absolute;
    top: 34px;
    left: 34px;
    height: 70px;
    width: 70px;
    background-color: #199ad6;
		transform:scale(3);
}



@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.4);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes dropIt {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1);
  }
}


@keyframes shrinkAndStay {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(3);
  }
}
